* {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
}

body {	
	/* Light blue/light-blue-100 */
	background-color: #F3F5FC;
}

header{
	margin-left: 10px;
	margin-top: 10px;
}

main {
	display: flex;
	margin-left: 80px;
	margin-bottom: 50px;
}

/*
.input-texto {
	margin-top: 80px;
	margin-bottom: 50px;
}
*/

.resultado {
	margin-left: 80px;
	position: relative;
	margin-top: 10px;
	background-image: url("imagens/pesquisa-boneco.svg");
	background-repeat: no-repeat;
}

.botoes{
	display: flex;
	margin-top: 20px;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
    position: absolute;
	width: 680px;
	height: 67px;
	left: 60px;
	top: 400px;
	text-align: center;

	/* texto do botao*/
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #FFFFFF;
	color: #0A3871;


}

.botoes:hover{
	font-style: bold;
	font-weight: 20px;

}

  
.cripto{

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 24px;

	background: #0A3871;

	border: 1px solid #0A3871;
	box-sizing: border-box;
	border-radius: 24px;

	width: 228px;
	height: 67px;
	

	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 24px;

    /* texto do botao*/
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #FFFFFF;
} 

.descripto{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 24px;

	position: static;
	width: 228px;
	height: 67px;
	left: 352px;
	top: 0px;

	/* Light gray */

	background: #D8DFE8;
	/* Dark blue/dark-blue-300 */

	border: 1px solid #0A3871;
	box-sizing: border-box;
	border-radius: 24px;

	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 24px;	

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;


	/* Dark blue/dark-blue-300 */
	color: #0A3871;
}

.informacao {
	font-size: 12px;
}

footer{
	margin-left: 10px;
	margin-top: 10px; 
	position: fixed;
	left: 0;
   	bottom: 0;
   	width: 30%;





